<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>Editar Producto</title>
</head>
<body>
    <header>
        <a href="{{ url_for('gestionar_inventario') }}"><h1>Panel de Administración</h1></a>
    </header>
    <main>
        <h2>Editar: {{ producto.nombre }}</h2>
        
        <form action="{{ url_for('editar_producto', producto_id=producto.id) }}" method="POST" enctype="multipart/form-data">
            <div>
                <label for="nombre">Nombre del Producto:</label>
                <input type="text" id="nombre" name="nombre" value="{{ producto.nombre }}" required>
            </div>
            <div>
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" step="0.01" value="{{ producto.precio }}" required>
            </div>
            <div>
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" value="{{ producto.stock }}" required>
            </div>
            <!-- Sección para la Imagen del Producto -->
            <div>
                <p><strong>Imagen Actual:</strong></p>
                {% if producto.imagen %}
                    <img src="{{ url_for('static', filename='uploads/products/' + producto.imagen) }}" alt="{{ producto.nombre }}" width="100">
                {% else %}
                    <p>Este producto no tiene imagen.</p>
                {% endif %}
            </div>

            <div>
                <label for="imagen">Cambiar Imagen (opcional):</label>
                <input type="file" id="imagen" name="imagen" accept="image/png, image/jpeg, image/jpg">
            </div>
            <button type="submit">Guardar Cambios</button>
        </form>
    </main>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>